.category-header {
  margin: 30px 70px 0 70px;
  width: 100%;
  display: flex;
  align-items: center;

  color: #fff;
  font-size: 24px;
  font-style: normal;
}

.category-logo {
  width: 166px;
  height: 62px;
}

#home-route-btn {
  margin: 0 89px 0 120px;
  transition: 0.3s ease-in-out;
}

#home-route-btn:hover {
  cursor: pointer;
  color: #FFBCA2;
  transition: 0.3s ease-in-out;
}

#category_name {
  color: #FFBCA2;
}

.questions-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 125px 70px 0 70px;
}

.question_category {
  max-width: 195px;
  width: 100%;
  height: 206px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-style: normal;

  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
}

.question_category:hover {
  cursor: pointer;
  color: #FFBCA2;
  font-size: 36px;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.score_count {
  display: block;
  margin: 10px 10px auto auto;
}

.score-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 48px;
  height: 48px;
  transition: 0.5s ease-in-out;
}

.score-icon:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .category-header {
    margin: 10px auto 10px auto;
    flex-direction: column;
  }
}