.category-header {
  margin: 30px 70px 0 70px;
  width: 100%;
  display: flex;
  align-items: center;

  color: #fff;
  font-size: 24px;
  font-style: normal;
}

.category-logo {
  width: 166px;
  height: 62px;
}

#home-route-btn {
  margin: 0 89px 0 120px;
  transition: 0.3s ease-in-out;
}

#home-route-btn:hover {
  cursor: pointer;
  color: #FFBCA2;
  transition: 0.3s ease-in-out;
}

#category_name {
  color: #FFBCA2;
}

.questions-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 125px 70px 0 70px;
}

.question_category {
  width: 195px;
  height: 206px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-style: normal;

  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
}

.question_category:hover {
  cursor: pointer;
  color: #FFBCA2;
  font-size: 36px;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;

}