.clock-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  backdrop-filter: blur(5px) saturate(181%);
  -webkit-backdrop-filter: blur(5px) saturate(181%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.main-clock {
  font-size: 78px;
  margin: 0;
}

.main-date {
  margin: 10px 0 20px 0;
}

.main-greeting {
  font-size: 24px;
  display: flex;
  justify-content: space-around;
}

.main-name {
  width: 200px;
  padding-left: 10px;
  outline: none;
  background: none;
  border: none;
}

.main-name::placeholder {
  color: white;
}


input {
  color: #fff;
}

.left-slide--control {
  margin-left: 30px;
}

.right-slide--control {
  margin-right: 30px;
  transform: rotate(180deg);
}

.slide-arrow {
  width: 50px;
  height: 50px;
  fill: rgba(255, 255, 255, 0.3);
  transition: 1s ease;
}

.slide-arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
  fill: rgba(255, 255, 255, 0.6);
  transition: 1s ease;
}