.explore-section-container {
  width: 100%;
  min-height: 865px;
  background-color: $bg-dark;
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

.explore-content-wrapper {
  max-width: 1440px;
  width: 100%;
  height: 715px;
  display: flex;
  justify-content: space-between;
}

.explore-content-text-wrapper {
  width: 660px;
}

.explore-content-text-logo {
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.explore-content-text-delimeter {
  width: 100%;
  height: 3px;
  background-color: #710707;
  margin-top: 25px;
  margin-bottom: 75px;
}

.explore-content-text-sec-text {
  margin-top: 25px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
}

.explore-content-text-sec-text-mobile {
  margin-top: 25px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
}

.explore-content-img {
  margin-top: 15px;
  width: 720px;
  height: 700px;
}

.explore_style {
  color: #CAAA7D;
}



@media screen and (max-width: 1440px) {
  .explore-content-wrapper {
    width: 984px;
    height: 1149px;
    flex-direction: column;
  }

  .explore-content-text-wrapper {
    width: 100%;
    margin-top: 60px;
  }

  .explore-content-text-logo {
    font-size: 50px;
    line-height: 75px;
  }

  .explore-content-text-delimeter {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .explore-content-text-sec-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    margin: 0;
  }

  .explore-content-img {
    width: 720px;
    height: 700px;
    margin: 62px auto 60px auto;
  }

  .explore-content-text-sec-text-mobile {
    display: none;
  }
}




@media screen and (max-width: 984px) {
  .explore-content-wrapper {
    width: 728px;
    height: 908px;
  }

  .explore-content-text-wrapper {
    margin-top: 40px;
  }

  .explore-content-text-logo {
    font-size: 40px;
    line-height: 60px;
  }

  .explore-content-text-delimeter {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .explore-content-text-sec-text {
    display: none;
  }

  .explore-content-img {
    width: 728px;
    height: 705px;
    margin: 0 0 40px 0;
  }

  .explore-content-text-sec-text-mobile {
    display: none;
  }
}