.gallery-section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-dark;
}

.gallery-content-wrapper {
  width: 1440px;
  height: 2125px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-content-logo {
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.gallery-content-gallery {
  max-width: 1440px;
  width: 100%;
  height: 1960px;
  margin-top: 75px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 36px;
  .gallery-card:nth-child(3n+1) {
    margin-top: 25px;
  }
  .gallery-card:nth-child(3n+2) {
    margin-bottom: 25px;
  }
  .gallery-card:nth-child(3n+3){
    margin-top: 25px;
  }
}

.gallery-card {
  display: block;
  flex: auto;
  max-width: 456px;
  max-height: 570px;
  width: auto;
  height: auto;
  margin-bottom: -26px;
}

.gallery-content-overlay {
  width: 100%;
  height: 360px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}