html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.idle {
  opacity: 0;
  pointer-events: none;
}

.hover:hover {
  cursor: pointer;
}

.set-btn {
  padding: 10px;
  border: solid 1px #fff;
  border-radius: 5px;
}

.set-btn:hover {
  color: #f74705;
  border-color: #f74705;
}

.selected {
  color: #f74705;
  border-color: #f74705;
}

.hide {
  display: none;
}

.preload {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
}
