html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 0;
}

//body {
//  margin: 0;
//}

.tour_container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}