.nav-container-wrapper {
  width: 100%;
  background-color: $bg-dark;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  max-width: 1440px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  width: 49px;
  height: 26px;
}

.nav-logo-text {
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav-logo-wrapper {
  width: 199px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.nav-menu {
  width: 775px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu a {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.nav-menu li::after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  background-color: #9d8665;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.nav-menu li:hover::after {
  width: 100%;
  background-color: #9d8665;
}

.nav-menu a:hover {
  color: #9d8665;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
}