.player-container {
  width: 195px;
  height: 250px;
  margin-left: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  backdrop-filter: blur(5px) saturate(181%);
  -webkit-backdrop-filter: blur(5px) saturate(181%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  color: #fff;
  transition: 1s ease-in-out;
}

.player-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rewind-icon {
  fill: #fff;
  transform: rotate(-180deg);
}

.rewind-icon:hover {
  cursor: pointer;
  fill: #f74705;
}

.play-icon {
  fill: #fff;
}

.play-icon:hover {
  cursor: pointer;
  fill: #f74705;
}

.forward-icon {
  fill: #fff;
}

.forward-icon:hover {
  cursor: pointer;
  fill: #f74705;
}

.song {
  margin-top: 10px;
  color: #fff;
  display: flex;
  align-items: center;
}

.song:hover {
  cursor: pointer;
  color: #f74705;
  .play-icon {
    fill: #f74705;
  }
}

.song-active {
  color: #f74705;
}

.song-name {
  margin-left: 10px;
}

// MAGIK
input[type="range"] {
  position: relative;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #f74705;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #f74705;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #f74705;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.track-name {
  color: #f74705;
  text-align: center;
  margin: 5px 0 5px 0;
}

.volume-btn {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-svg {
  fill: #fff;
}

#volume-output {
  margin-right: 5px;
}

.volume-svg:hover {
  cursor: pointer;
  fill: #f74705;
}

.volume-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec-play {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  pointer-events: none;
}
