.results-wrapper {
  width: 800px;
  height: 800px;
  margin: auto;

  color: #fff;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.win-img {
  width: 400px;
  height: 400px;
}

.congrats-text {
  font-size: 64px;
  margin: 0;
}

.button-wrapper {
  max-width: 440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.score-btn {
  width: 210px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}

.score-btn:hover {
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}