.score-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 125px 70px 0 70px;
}


.score-card {
  width: 195px;
  height: 206px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-style: normal;

  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  transition: 0.5s ease-in-out;
}

.score-card:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}


.score-button {
  width: 400px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 60px;
  color: #fff;
  background-color: #000;
  transition: 0.5s ease-in-out;
  margin: 70px auto 0 auto !important;
}

.score-button:hover {
  cursor: pointer;
  background-color: #fff;
  transition: 0.5s ease-in-out;
}

.score-outher-text {
  color: #fff;
  font-size: 36px;
  margin: 70px auto 0 auto;
}