.ticket-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ticket-content-wrapper {
  width: 1440px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.ticket-content-logo {
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.ticket-content-delimeter {
  width: 100%;
  height: 3px;
  margin-top: 25px;
  background-color: #710707;
}

.ticket-content-buy-wrapper {
  width: 100%;
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}

.ticket-content-buy-pic {
  width: 720px;
  height: 550px;
}

.ticket-buy-wrapper {
  width: 660px;
  display: flex;
  justify-content: space-between;
}

.ticket-buy-type-wrapper {
  width: 270px;
}

.ticket-buy-type-logo {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.ticket-buy-radio-container {
  width: 270px;
  height: 128px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-buy-radio-wrapper {
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.ticket-buy-radio-wrapper:hover {
  cursor: pointer;
}

.ticket-buy-radio-p {
  margin-left: 23px;
}

.ticket-buy-select-wrapper {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ticket-buy-select-content-logo {
  font-family: Roboto, serif;
  text-align: end;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 25px;
}

.ticket-selector-wrapper {
  width: 150px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ticket-selector-logo {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.ticket-selector-content-wrapper {
  width: 143px;
  height: 43px;
  display: flex;
  align-items: center;
  border: 3px solid #000000;
}

.ticket-selector-content-minus {
  margin-left: 11px;
  width: 18px;
}

.ticket-selector-content-amount {
  width: 40px;
  border: none;
  margin-left: 25px;
  margin-right: 17px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  pointer-events: none;
}

.ticket-selector-content-plus {
  margin-right: 14px;
  width: 19px;
  padding-top: 7px;
}

.ticket-buy-select-content-total-wrapper {
  width: 150px;
  display: flex;
  margin-top: 50px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: #000000;
}

.ticket-buy-form-submit {
  width: 175px;
  height: 50px;
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #000;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.ticket-buy-form-submit:hover {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background-color: #9D8665;
}

.ticket-content-buy-pic-mobile {
  display: none;
}


@media screen and (max-width: 1439px) {
  .ticket-content-wrapper {
    width: 984px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .ticket-content-logo {
    font-size: 50px;
    line-height: 75px;
  }

  .ticket-content-delimeter {
    margin-top: 20px;
  }

  .ticket-content-buy-wrapper {
    margin-top: 60px;
  }

  .ticket-content-buy-pic {
    display: none;

  }

  .ticket-content-buy-pic-mobile {
    display: block;
    width: 700px;
    height: 440px;
  }

  .ticket-buy-wrapper {
    width: 100%;
    margin-left: 80px;
  }

  .ticket-buy-type-wrapper {
    display: none;
  }

  .ticket-buy-select-wrapper {
    width: 175px;
    display: flex;
    flex-direction: column;
  }

  .ticket-buy-select-content-logo {
    text-align: start;
    font-size: 28px;
    line-height: 33px;
  }

  .ticket-selector-wrapper {
    width: 175px;
    margin-bottom: 25px;
  }

  .ticket-selector-logo {
    font-size: 22px;
    line-height: 26px;
    margin-top: 5px;
  }

  .ticket-selector-content-wrapper {
    width: 168px;
    height: 45px;
  }

  .ticket-selector-content-minus {
    margin-left: 7px;
    margin-bottom: 6px;
    width: 21px;
  }

  .ticket-selector-content-amount {
    width: 40px;
    margin-left: 35px;
    margin-right: 17px;
  }

  .ticket-selector-content-plus {
    margin-right: 9px;
    margin-left: 10px;
    margin-bottom: 3px;
    width: 21px;
    padding-top: 7px;
  }

  .ticket-buy-select-content-total-wrapper {
    width: 175px;
    margin-top: 25px;
    font-size: 28px;
    line-height: 33px;
  }
  .ticket-buy-select-content-total {
    margin-left: 16px;
  }

  .ticket-buy-form-submit {
    margin-top: 69px;
  }
}






@media screen and (max-width: 984px)  {
  .ticket-content-wrapper {
    width: 728px;
    margin-top: 40px;
    margin-bottom: 40px;
  }


  .ticket-content-buy-pic-mobile {
    display: none;
  }


  .ticket-content-logo {
    font-size: 40px;
    line-height: 60px;
  }

  .ticket-content-delimeter {
    margin-top: 20px;
  }

  .ticket-content-buy-wrapper {
    margin-top: 23px;
  }

  .ticket-content-buy-pic {
    display: block;
    width: 444px;
    height: 340px;
    margin-top: 17px;
  }

  .ticket-buy-wrapper {
    width: 100%;
    margin-left: 60px;
  }

  .ticket-buy-select-wrapper {
    width: 175px;
    display: flex;
    flex-direction: column;
  }

  .ticket-buy-select-content-logo {
    text-align: start;
    font-size: 28px;
    line-height: 33px;
  }

  .ticket-selector-wrapper {
    width: 175px;
    height: 95px;
    margin-bottom: 25px;
  }

  .ticket-selector-logo {
    font-size: 22px;
    line-height: 26px;
    margin-top: 14px;
  }

  .ticket-selector-logo:nth-child(1) {
    margin-top: 6px;
  }

  .ticket-buy-select-content-wrapper {
    margin-top: 17px;
  }


  .ticket-selector-content-wrapper {
    width: 169px;
    height: 40px;
    margin-bottom: 0px;
  }
  .ticket-selector-content-wrapper:nth-child(2) {
    margin-bottom: 7px;
  }

  .ticket-selector-content-minus {
    margin-left: 15px;
    width: 21px;
  }

  .ticket-selector-content-amount {
    width: 40px;
    margin-left: 35px;
    margin-right: 17px;
  }

  .ticket-selector-content-plus {
    margin-right: 15px;
    width: 21px;
    padding-top: 7px;
  }

  .ticket-buy-select-content-total-wrapper {
    width: 175px;
    margin-top: 33px;
    font-size: 28px;
    line-height: 33px;
  }

  .ticket-buy-form-submit {
    margin-top: 41px;
  }
}



@media screen and (max-width: 728px)  {
  .ticket-content-wrapper {
    width: 380px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .ticket-content-logo {
    font-size: 28px;
    line-height: 40px;
  }

  .ticket-content-delimeter {
    margin-top: 20px;
  }

  .ticket-content-buy-wrapper {
    margin-top: 40px;
    flex-direction: column;
  }

  .ticket-content-buy-pic {
    width: 380px;
    height: 160px;
  }

  .ticket-buy-wrapper {
    width: 100%;
    margin: 0;
  }

  .ticket-buy-select-wrapper {
    width: 175px;
    display: flex;
    flex-direction: column;
    margin: 40px auto 0 auto;
  }

  .ticket-buy-select-content-logo {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
  }

  .ticket-selector-wrapper {
    width: 175px;
    margin-bottom: 20px;
  }

  .ticket-selector-logo {
    font-size: 16px;
    line-height: 19px;
  }

  .ticket-selector-content-wrapper {
    width: 175px;
    height: 50px;
  }

  .ticket-selector-content-minus {
    margin-left: 15px;
    width: 21px;
  }

  .ticket-selector-content-amount {
    width: 40px;
    margin-left: 35px;
    margin-right: 17px;
  }

  .ticket-selector-content-plus {
    margin-right: 15px;
    width: 21px;
    padding-top: 7px;
  }

  .ticket-buy-select-content-total-wrapper {
    width: 175px;
    margin-top: 25px;
    font-size: 28px;
    line-height: 33px;
  }

  .ticket-buy-form-submit {
    margin-top: 40px;
  }

  .ticket-buy-select-content-total-wrapper {
    font-size: 16px;
    line-height: 19px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 379px) {
  .ticket-content-wrapper {
    width: 320px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .ticket-content-buy-pic {
    width: 320px;
  }
}