.video-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video-content-wrapper {
  width: 1440px;
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
}

.video-content-text-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.video-content-text-logo {
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.video-content-text-sec {
  width: 720px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
}

.video-content-main-player-wrapper {
  width: 100%;
  position: relative;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
}

.video-content-main-player-big-play {
  width: 220px;
  height: 220px;
}

.video-content-main-player-big-play-button {
  width: 220px;
  height: 220px;
  position: absolute;
  left: 50%;
  top: 215px;
  transform: translate(-50%,0);
}

.video-content-main-player {
  width: 100%;
}

.video-content-main-player-controls-wrapper {
  width: 100%;
  height: 85px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-content-main-player-controls-play {
  width: 23px;
  height: 31px;
  margin-left: 30px;
}

.video-content-main-player-controls-length {
  width: 929px;
}

.video-content-main-player-controls-volume {
  width: 38px;
  height: 31px;
}

.video-content-main-player-controls-volrange {
  width: 155px;
}

.video-content-main-player-controls-fullscreen {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

.video-content-videogallery-wrapper {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.video-content-videogallery-player {
  width: 452px;
  height: 254px;
  border: none;
}

.video-content-videogallery-controls-wrapper {
  width: 200px;
  height: 12px;
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-content-videogallery-controls-left {
  width: 10px;
  height: 12px;
}

.video-content-videogallery-controls-right {
  width: 10px;
  height: 12px;
}

.video-content-videogallery-controls-show {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999999;
}

.video-content-videogallery-controls-show:hover {
  background-color: #740C11;
  cursor: pointer;
}

.video-content-main-player-big-play-button:hover {
  cursor: pointer;
  filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(93%) contrast(88%);
}

.video-content-videogallery-controls-left-button:hover {
  cursor: pointer;
  filter: invert(12%) sepia(66%) saturate(4522%) hue-rotate(347deg) brightness(68%) contrast(101%);
}

.video-content-videogallery-controls-right-button:hover {
  cursor: pointer;
  filter: invert(12%) sepia(66%) saturate(4522%) hue-rotate(347deg) brightness(68%) contrast(101%);
}

.video-content-main-player-controls-play-button:hover {
  cursor: pointer;
  filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(93%) contrast(88%);
}

.video-content-main-player-controls-volume-button:hover {
  cursor: pointer;
  filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(93%) contrast(88%);
}

.video-content-main-player-controls-fullscreen-button:hover {
  cursor: pointer;
  filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(93%) contrast(88%);
}

.video-content-main-player-1024 {
  display: none;
}



@media screen and (max-width: 1439px) {
  .video-content-wrapper {
    width: 984px;
    margin: 60px 0 60px 0;
  }

  .video-content-main-player {
    display: none;
  }
  .video-content-main-player-1024 {
    display: block;
    width: 100%
   }

  .video-content-text-logo {
    font-size: 50px;
    line-height: 75px;
  }

  .video-content-text-sec {
    display: none;
  }

  .video-content-main-player-wrapper {
    margin-top: 39px;
  }

  .video-content-main-player-big-play-button {
    width: 152px;
    height: 152px;
    top: 145px;
  }
  .video-content-main-player-big-play {
    width: 152px;
    height: 152px;
  }

  .video-content-main-player-controls-wrapper {
    height: 60px;
  }

  .video-content-main-player-controls-play {
    width: 23px;
    height: 30px;
    margin-left: 40px;
  }

  .video-content-main-player-controls-length {
    width: 564px;
  }

  .video-content-main-player-controls-volume {
    width: 26px;
    height: 20px;
  }

  .video-content-main-player-controls-volrange {
    width: 143px;
  }

  .video-content-main-player-controls-fullscreen {
    width: 26px;
    height: 26px;
    margin-right: 40px;
  }

  .video-content-videogallery-wrapper {
    width: 981px;
  }
  .video-content-videogallery-player {
    width: 300px;
    height: 170px;
    border: none;
  }
}


@media screen and (max-width: 984px){
  .video-content-wrapper {
    width: 728px;
    margin: 40px 0 40px 0;
  }

  .video-content-text-logo {
    font-size: 40px;
    line-height: 60px;
  }

  .video-content-main-player-big-play-button {
    width: 80px;
    height: 80px;
    top: 125px;
  }
  .video-content-main-player-big-play {
    width: 80px;
    height: 80px;
  }

  .video-content-main-player-controls-wrapper {
    height: 53px;
    display: flex;
  }

  .video-content-main-player-controls-play {
    width: 23px;
    height: 29px;
    margin-left: 30px;
    order: 1;
  }

  .video-content-main-player-controls-length {
    width: 486px;
    order: 3;
  }

  .video-content-main-player-controls-volume {
    width: 27px;
    height: 21px;
    order: 2;
  }

  .video-content-main-player-controls-volrange {
    display: none;
  }

  .video-content-main-player-controls-fullscreen {
    width: 26px;
    height: 26px;
    margin-right: 30px;
    order: 4;
  }

  .video-content-videogallery-player {
    width: 354px;
    height: 199px;
    border: none;
  }
  .video-content-videogallery-player:nth-child(3) {
    display: none;
  }

  .video-content-videogallery-controls-wrapper {
    width: 190px;
    margin: 20px auto 0;
  }

  .video-content-videogallery-wrapper {
    margin-top: 20px;
  }
}






@media screen and (max-width: 728px) {
  .video-content-wrapper {
    width: 380px;
    margin: 36px 0 40px 0;
  }

  .video-content-text-logo {
    font-size: 28px;
    line-height: 40px;
  }

  .video-content-main-player-big-play-button {
    width: 50px;
    height: 50px;
    top: 70px;
  }
  .video-content-main-player-big-play {
    width: 50px;
    height: 50px;
  }

  .video-content-main-player-controls-wrapper {
    height: 55px;
    display: flex;
  }

  .video-content-main-player-controls-play {
    width: 14px;
    height: 18px;
    margin-left: 20px;
    order: 1;
  }

  .video-content-main-player-controls-length {
    width: 200px;
    order: 3;
  }

  .video-content-main-player-controls-volume {
    width: 18px;
    height: 14px;
    order: 2;
  }

  .video-content-main-player-controls-volrange {
    display: none;
  }

  .video-content-main-player-controls-fullscreen {
    width: 18px;
    height: 18px;
    margin-right: 16px;
    order: 1;
  }

  .video-content-videogallery-player {
    width: 180px;
    height: 101px;
    border: none;
  }
  .video-content-videogallery-player:nth-child(3) {
    display: none;
  }

  .video-content-videogallery-controls-wrapper {
    width: 174px;
    margin: 40px auto 0;
  }

  .video-content-videogallery-wrapper {
    margin-top: 20px;
  }

  .video-content-videogallery-controls-left {
    width: 8px;
    height: 8px;
  }

  .video-content-videogallery-controls-right {
    width: 8px;
    height: 8px;
  }

  .video-content-videogallery-controls-show {
    width: 8px;
    height: 8px;
  }
}

@media screen and (max-width: 379px) {
  .video-content-wrapper {
    width: 320px;
    margin: 36px 0 40px 0;
  }

  .video-content-text-logo {
    font-size: 28px;
    line-height: 40px;
  }

  .video-content-main-player-big-play-button {
    width: 50px;
    height: 50px;
    top: 70px;
  }
  .video-content-main-player-big-play {
    width: 50px;
    height: 50px;
  }

  .video-content-main-player-controls-wrapper {
    height: 55px;
    display: flex;
  }

  .video-content-main-player-controls-play {
    width: 14px;
    height: 18px;
    margin-left: 20px;
    order: 1;
  }

  .video-content-main-player-controls-length {
    width: 150px;
    order: 3;
  }

  .video-content-main-player-controls-volume {
    width: 18px;
    height: 14px;
    order: 2;
  }

  .video-content-main-player-controls-volrange {
    display: none;
  }

  .video-content-main-player-controls-fullscreen {
    width: 18px;
    height: 18px;
    margin-right: 16px;
    order: 1;
  }

  .video-content-videogallery-player {
    width: 150px;
    height: 101px;
    border: none;
  }
  .video-content-videogallery-player:nth-child(3) {
    display: none;
  }

  .video-content-videogallery-controls-wrapper {
    width: 174px;
    margin: 40px auto 0;
  }

  .video-content-videogallery-wrapper {
    margin-top: 20px;
  }

  .video-content-videogallery-controls-left {
    width: 8px;
    height: 8px;
  }

  .video-content-videogallery-controls-right {
    width: 8px;
    height: 8px;
  }

  .video-content-videogallery-controls-show {
    width: 8px;
    height: 8px;
  }
}