.visiting-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

.visiting-content-wrapper {
  max-width: 1440px;
  width: 100%;
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
}

.visiting-content-logo {
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.visiting-content-delimeter {
  width: 100%;
  height: 3px;
  margin-top: 25px;
  background-color: #710707;
}

.visiting-content-cards-wrapper {
  width: 100%;
  height: 923px;
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.visiting-card-wraper {
  display: block;
  width: 440px;
  height: 424px;
  margin-bottom: 75px;
}

.visiting-card-wraper:hover {
  .visiting-card-delimeter {
    width: 100%;
    transition: all 0.5s ease-in-out 0s;
  }
  .visiting-card-img {
    transform: scale(1.02);
    box-shadow: rgb(0 0 0 / 50%) 0 0 20px 2px;
    transition: all 0.3s ease-in-out 0s;
  }
}

.visiting-card-img {
  width: 440px;
  height: 285px;
}

.visiting-card-logo {
  margin-top: 21px;
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.visiting-card-delimeter {
  width: 300px;
  height: 2px;
  background-color: #710707;
  margin-top: 10px;
  transition: all 0.5s ease-in-out 0s;
}

.visiting-card-sec-text {
  margin-top: 10px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: black;
}

.visiting-card-third-text {
  margin-top: 10px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

@media screen and (max-width: 1440px) {
  .visiting-content-wrapper {
    width: 984px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .visiting-content-logo {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .visiting-content-cards-wrapper {
    height: 1155px;
    margin-top: 60px;
    justify-content: space-around;
  }

  .visiting-card-wraper {
    width: 330px;
    height: 345px;
    margin-bottom: 60px;
  }

  .visiting-card-img {
    width: 330px;
    height: 215px;
  }

  .visiting-card-logo {
    margin-top: 25px;
    font-size: 28px;
    line-height: 31px;
  }

  .visiting-card-delimeter {
    width: 150px;
  }

  .visiting-card-sec-text {
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;
  }

  .visiting-card-third-text {
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;
  }
}


@media screen and (max-width: 984px) {
  .visiting-content-wrapper {
    width: 728px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .visiting-content-logo {
    font-size: 40px;
    line-height: 60px;
  }

  .visiting-content-cards-wrapper {
    height: 983px;
    margin-top: 40px;
    justify-content: space-around;
  }

  .visiting-card-wraper {
    width: 280px;
    height: 301px;
    margin-bottom: 40px;
  }

  .visiting-card-img {
    width: 280px;
    height: 180px;
  }

  .visiting-card-logo {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 3px;
  }

  .visiting-card-delimeter {
    width: 150px;
  }

  .visiting-card-sec-text {
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;
  }

  .visiting-card-third-text {
    font-size: 18px;
    line-height: 21px;
  }
}