.welcome-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-dark;
}

.welcome-content-overlay {
  width: 360px;
  height: 750px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 130;
}

.glide__bullet--active {
  background-color: #D2B183 !important;
}

.header-wrapper {
  max-width: 1440px;
  width: 100%;
}

.hero-container {
  width: 1440px;
  height: 810px;
  position: relative;
  display: flex;
}

.hero-content {
  position: relative;
  max-width: 598px;
  width: 100%;
  height: 388px;
  margin-top: 150px;
  z-index: 10;
}

.hero-content-logo {
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-content-text {
  margin-top: 25px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.hero-content-button {
  width: 360px;
  height: 75px;
  margin-top:75px;
  border-radius:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #710707;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.hero-content-button:hover {
  background-color: #9D8665;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.glideContainer {
  width: 1000px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.hero-slider_img {
  max-width: 1000px;
  width: 100%;
  height: 750px;
  margin-bottom: 60px;
}

.hero-slider-controls-wrapper {
  width: 600px;
  height: 120px;
  background-color: $bg-dark;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-slider-controls-wrapper-counter-wrapper {
  width: 76px;
  height: 40px;
  margin-right: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-slider-controls-wrapper-counter-delimeter {
  width: 2px;
  height: 50%;
  background-color: white;
}

.glide__bullets {
  width: 180px;
  height: 16px;
  display: flex;
  justify-content: space-between;
}

.glide__bullet {
  width: 16px;
  height: 16px;
  background-color: white;
}

.glide__bullet:hover {
  background-color: #9d8665;
  cursor: pointer;
}

.glide__arrows {
  width: 80px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
}

.glide__arrow {
  background: none;
  border: none;
  outline: none;
}

.glide__arrow {
  background: none;
  border: none;
  outline: none;
}

.glide__arrow:hover {
  cursor: pointer;
  filter: invert(60%) sepia(12%) saturate(963%) hue-rotate(356deg) brightness(88%) contrast(85%);
}

.glide__arrow:hover {
  cursor: pointer;
  filter: invert(60%) sepia(12%) saturate(963%) hue-rotate(356deg) brightness(88%) contrast(85%);
}



@media screen and (max-width: 1439px) {
  .header-wrapper {
    max-width: 984px;
  }

  .hero-container {
    max-width: 984px;
    height: 585px;
  }

  .hero-content {
    width: 445px;
    height: 343px;
    margin-top: 50px;
  }

  .hero-content-logo {
    font-family: Forum, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .hero-content-text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }

  .hero-content-button {
    width: 300px;
    height: 60px;
    margin-top: 51px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
  }

  .hero-slider_img {
    width: 700px;
    height: 525px;
    margin-bottom: 56px;
  }

  .hero-slider-controls-wrapper {
    width: 700px;
    height: 120px;
    justify-content: flex-end;
  }

  .glide__arrows {
    margin-right: 77px;
    margin-left: 43px;
  }

  .glide__bullets {
    margin-right: 0px;
    height: 12px;
    width: 160px;
  }

  .glide__bullet {
    width: 12px;
    height: 12px;
  }
  .hero-slider-controls-wrapper-counter-wrapper {
    margin-right: 44px;
    margin-top: 3px;
  }
  }




@media screen and (max-width: 984px) {
  .header-wrapper {
    max-width: 728px;
  }

  .nav-logo-text {
    margin-top: 8px;
  }


  .hero-container {
    max-width: 728px;
    height: 861px;
    display: flex;
    justify-content: center;
  }

  .hero-slider_img {
    margin-bottom: 96px;
  }

  .hero-content {
    width: 332px;
    height: 168px;
    margin-top: 0;
  }

  .hero-content-logo {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
  }

  .hero-content-text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
  }

  .hero-content-button {
    display: none;
  }

  .hero-slider_img {
    width: 728px;
    height: 546px;
  }

  .hero-slider-controls-wrapper {
    width: 728px;
    height: 100px;
    justify-content: unset;
  }

  .hero-slider-controls-wrapper-counter-wrapper {
    margin-right: 0px;
    margin-left: 162px;
  }

  .glide__bullets {
    margin-left: 43px;
  }
}


@media screen and (max-width: 728px)  {
  .header-wrapper {
    max-width: 380px;
  }

  .hero-container {
    max-width: 380px;
    height: 544px;
    display: flex;
    justify-content: center;
  }

  .hero-content {
    width: 276px;
    height: 124px;
    margin-top: 5px;
  }

  .hero-content-logo {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }

  .hero-content-text {
    font-size: 16px;
    line-height: 19px;
  }

  .hero-content-button {
    display: none;
  }

  .hero-slider_img {
    width: 380px;
    height: 285px;
  }

  .hero-slider-controls-wrapper {
    width: 230px;
    height: 40px;
  }

  .glide__bullet {
    width: 7px;
    height: 7px;
  }

  .hero-slider-controls-wrapper-counter-wrapper {
    margin: 0;
    font-size: 16px;
    line-height: 40px;
  }

  .hero-slider-controls-wrapper-counter-delimeter {
  height: 15px;
  }

  .glide__arrows {
    margin: 0;
  }

  .hero-slider-controls-wrapper-slide-arrows-left  {
    width: 20px;
    height: 8px;
  }

  .hero-slider-controls-wrapper-slide-arrows-right {
    width: 20px;
    height: 8px;
  }

  .hero-slider_img {
    margin-bottom: 76px;
  }

  .hero-slider-controls-wrapper-counter-wrapper {
    width: 50px;
  }

  .hero-slider-controls-wrapper {
    margin-bottom: 19px;
    margin-right: 78px;
  }

  .glide__bullets {
    margin-left: 0px;
    width: 74px;
  }

  .glide__arrows {
    margin-left: 0px;
    width: 50px;
    height: 9px;
    padding-left: 28px;
    padding-bottom: 4px;
  }

}


@media screen and (max-width: 379px) {
  .header-wrapper {
    max-width: 320px;
  }

  .hero-container {
    max-width: 320px;
    height: 544px;
    display: flex;
    justify-content: center;
  }

  .hero-content {
    width: 276px;
    height: 124px;
    margin-top: 5px;
  }

  .hero-content-logo {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }

  .hero-content-text {
    font-size: 16px;
    line-height: 19px;
  }

  .hero-content-button {
    display: none;
  }

  .hero-slider_img {
    width: 320px;
    height: 285px;
  }

  .hero-slider-controls-wrapper {
    width: 230px;
    height: 40px;
  }

  .glide__bullet {
    width: 7px;
    height: 7px;
  }

  .hero-slider-controls-wrapper-counter-wrapper {
    margin: 0;
    font-size: 16px;
    line-height: 40px;
  }

  .hero-slider-controls-wrapper-counter-delimeter {
    height: 15px;
  }

  .glide__arrows {
    margin: 0;
  }

  .hero-slider-controls-wrapper-slide-arrows-left  {
    width: 20px;
    height: 8px;
  }

  .hero-slider-controls-wrapper-slide-arrows-right {
    width: 20px;
    height: 8px;
  }

}