.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 200px;
  margin-bottom: 50px;
}

.mdc-button {
  margin-bottom: 10px;
}

.category-wrapper {
  width: 340px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.category:hover {
  cursor: pointer;
  background-color: aquamarine;
}